a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 1em 1em;
  grid-template-areas:
    "Header Header"
    "Nav Content";
}

.App-link {
  color: #61dafb;
}

.App-content {
  grid-area: Content;
}
