.pageDialogs {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  gap: 1em 1em;
}

.users {
  border-right: 1px solid #f7f7f7;
  padding: 1em;
}

.user {
  padding: 0.5em;
}

.user a {
  padding: 0.5em;
}

.user .active {
  background-color: #f7f7f7;
  padding: 0.5em;
  border-radius: 0.4em;
}

.dialogs {
  padding: 1em;
}

.dialog {
  position: relative;
  border-radius: 1rem;
  padding: 20px;
  background: #282c34;
  color: #fff;
  margin-bottom: 20px;
}

.dialog::before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: inherit;
  border-bottom-left-radius: 15px;
}

.dialog::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 21px;
  background: #fff;
  border-bottom-left-radius: 10px;
}

textarea {
  width: 99%;
}

.flex_end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
